<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache/ehcache.xml"/>
    </bean> -->
    
	<bean id="cacheManager" class="com.cobee.rentalhousems.component.shiro.cache.RedisCacheManager">
        <property name="jedisBean" ref="jedisBean" />
        <property name="expiredTime" value="${shiro.cache.expired}" />
    </bean>
    
    <bean id="shiroRealm" class="com.cobee.rentalhousems.component.shiro.ShiroRealm" >
    	<property name="credentialsMatcher" >
    		<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" >
    			<property name="hashAlgorithmName" value="MD5" ></property>
    			<property name="hashIterations" value="128" ></property>
    		</bean>
    	</property>
    	<property name="authorizationCacheName" value="${shiro.cache.authorizationCacheName}" ></property>
    </bean>
    
     <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="cacheManager" />
        <property name="realm" ref="shiroRealm" />
        <!-- 记住我一周时间 -->
        <property name="rememberMeManager.cookie.maxAge" value="604800" />
    </bean>
	
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
          
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" ></property>
		<property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/home"/>
        <property name="unauthorizedUrl" value="/unauthorized"/>
        <property name="filterChainDefinitions">
            <value>
                /login = anon
                /doLogin = anon
                /register = anon
                /doRegister = anon
                /resources/** = anon
                /logout = logout
                /home = user
                /SecureUser/form/** = user
                /** = authc
            </value>
        </property>
	</bean>

</beans>